<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="commenhead">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="_csrf" th:content="${_csrf.token}">
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}">
        <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
        <!--<script type="text/javascript" th:src="@{/js/vue.js}"></script>-->
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    </th:block>
</head>
</html>